.main {
    width: 66%;
    margin: auto;

    display: flex;
    justify-content: center;
}
img{
    width: 67%;
}
.main2 {
    width: 50%;
    padding: 33%;
    margin: 18%;
}
.element {
    border:20px solid salmon
}